services:
  traefikx:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    volumes:
      - ./data:/app/data
    environment:
      - ENV=production
    restart: unless-stopped
    env_file:
      - /backend/.env